<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot Thymeleaf Hello World Example</title>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

    <!-- PUT YOUR STYLE LIBS HERE -->
</head>
<style>
#main {
  height: screen.height;
  width: screen.width;
  overflow: auto;
  background: green;
  display : flex;
}
#choiceDIV {
  height: screen.height;
  width: screen.width * 0.8 ;
  overflow: auto;
  background: green;
}
#selectedDIV {
  height: screen.height;
  width: screen.width * 0.2 ;
  overflow: auto;
  background: green;
}

#choice {
  height: 800px;
  width: 2000px;
  background-color: red;
}
#selected {
  height: 800px;
  width: 2000px;
  background-color: coral;
}

</style>
<!-- PUT YOUR JS LIBS HERE -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/4.2.1/js/bootstrap.js"></script>
    <script>
    var i = 0 ;
    function myTimer() {
        //document.getElementById("demo").innerHTML = "running : "+i;
        i++ ;
        console.log(' each 1 second...');
        /*
        $.ajax({url: "/rest/user", success: function(result){
          console.log(result) ;
        }});
        */
        if (i > 10){
            // clearInterval(myVar);
        }
    }

    var myVar = setInterval(myTimer, 5000);

    </script>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">DEMO ORDER</a>
</nav>

<main role="main"  >
    <div >
        <div id="main" >
            <div id="choiceDIV">
                <div id="choiceZ">
                    Some text inside an element.
                </div>
            </div>
            <div id="selectedDIV">
                <div id="selectedZ">
                    Some text inside an element.
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <h1>Three equal width columns</h1>
            <p>Note: Try to add a new div with class="col" inside the row class - this will create four equal-width columns.</p>

            <div class="row">
                <div class="col-sm-9" style="background-color:lavender; overflow: auto; ">.col-sm-9
                    <div id="choice">
                        Some text inside an element.
                    </div>
                </div>
                <div class="col-sm-3" style="background-color:lavenderblush; overflow: auto;">.col-sm-3
                    <div id="selected">
                        Some text inside an element.
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>