<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Drive To Order.</title>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <!-- PUT YOUR STYLE LIBS HERE -->
</head>
<!-- PUT YOUR JS LIBS HERE -->

<script type="text/javascript" th:src="@{webjars/jquery/3.2.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.js}"></script>
<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>

<style>
#choiceDIV {
  display : flex;
  max-height: 650px;
  max-width: 100%  ;
  overflow: auto;
  background: green;
}
#selectedDIV {
  display : flex;
  max-height: 650px;
  max-width: 100% ;
  overflow: auto;
  background: green;
}
#choice {
  background-color: red;
  min-height:650px;
}
#selected {
  background-color: coral;
  min-height:650px;
}
.col-extend {
    border-radius : 5% ;
    padding : 0.1% ;
    margin : 0.2% ;
    min-width: max-content ;
    background-color: lavender ;
}

.col-extend:active {
    background-color: Silver ;
}
h2.title {
  text-align: center ;
  color: red ;
  /* font-size: 2vw ; */
  /* min-width: max-content; */
}
p.amount {
  text-align: left ;
  color: black ;
  /* font-size: 1.5vw ; */
  /* min-width: max-content; */
}

</style>

<script>
	
function removeEventListeners(element, listenerMap) {
    Object.keys(listenerMap).forEach(function (name) {
        var listeners = listenerMap[name];
        listeners.forEach(function (object) {
            element.removeEventListener(name, object.listener);
        });
    });
}

removeEventListeners(document, getEventListeners(document))
	
    function myTimer() {
        $.ajax({url: "/rest/order",
        success: function(result){
            console.log(result) ;
            var myNode = document.getElementById("choice");
            while (myNode.firstChild) {
                myNode.removeChild(myNode.firstChild);
            }

            var row = document.createElement("div");
            row.classList.add("row");
           for (var item = 0 ; item < result.length ; item++ ){
                var myJson = result[item] ;
                var draw = drawOrder(myJson) ;
                row.appendChild(draw) ;
            }
            document.getElementById("choice").appendChild(row );
           // clearInterval(myVar);

        }});
    }
     // var myVar = setInterval(myTimer, 10*1000);
</script>

<SCRIPT>
    function drawOrder(json) {

        var col = document.createElement("div");
        col.setAttribute("onclick","drawSelected(this) ;");
        col.classList.add("col");
        col.classList.add("col-extend");

        var container = document.createElement("div");
        container.classList.add("container");

        var title = document.createElement("h2");
        title.classList.add("title");
        title.innerHTML = json.name ;


        var dueTextA1 = document.createElement("span");
        dueTextA1.innerHTML = " Price :" ;
        var dueAmount = document.createElement("span");
        dueAmount.classList.add("price");
        dueAmount.innerHTML = json.price ;
         var dueTextA2 = document.createElement("span");
        dueTextA2.innerHTML = " Baht/Unit" ;
        var dueP = document.createElement("p");
        dueP.classList.add("amount");
        dueP.appendChild(dueTextA1) ;
        dueP.appendChild(dueAmount) ;
        dueP.appendChild(dueTextA2) ;

        var img = document.createElement("IMG");
        img.setAttribute("src", json.imgUrl);
        img.setAttribute("width", "400");
        img.setAttribute("height", "300");
        img.setAttribute("alt", "Cinque Terre");
        img.setAttribute("class", "img-thumbnail");

        var menuId = document.createElement("p");
        menuId.classList.add("id");
        menuId.style.display = "none" ;
        menuId.innerHTML = json.id ;

        container.appendChild(title) ;
        container.appendChild(dueP) ;
        container.appendChild(img) ;
        container.appendChild(menuId) ;

        col.appendChild(container) ;

        return col ;
     }
</SCRIPT>


<SCRIPT>
    function drawSelected(me) {
        drawSelectedList(me) ;
        
        var sum = 0 ;
        var des = document.getElementById("selected") ;
        var idDes = des.getElementsByClassName("priceSUM");
        for ( var item = 0 ; item < idDes.length ; item++ ){
                sum = sum + parseInt(idDes[item].innerHTML );
        }
        document.getElementById("sumPrice").innerHTML = sum ;

    }
    function drawSelectedList(me) {
        var json = {amountUnit : 0 , amountPrice : 0 }  ;
        var cln = me.cloneNode(true);

        var id = cln.getElementsByClassName("id")[0];
        var des = document.getElementById("selected") ;
        var idDes = des.getElementsByClassName("col-extend");
        for ( var item = 0 ; item < idDes.length ; item++ ){
                var idItem = idDes[item] ;
                var inId = idItem.getElementsByClassName("id")[0];
                if (id.innerHTML == inId.innerHTML ){
                        console.log("sum") ;
                        idItem.getElementsByClassName("amountSUM")[0].innerHTML = parseInt(idItem.getElementsByClassName("amountSUM")[0].innerHTML) + 1 ;
                        idItem.getElementsByClassName("priceSUM")[0].innerHTML = parseInt(idItem.getElementsByClassName("priceSUM")[0].innerHTML) + parseInt(cln.getElementsByClassName("price")[0].innerHTML) ;
                        return ;
                }
        }
        if (json.amountUnit == 0 ){
            json.amountUnit =  1 ;
            json.amountPrice = parseInt(cln.getElementsByClassName("price")[0].innerHTML) ;
        }

        var amount = cln.getElementsByClassName("amount")[0]

        while (amount.firstChild) {
                amount.removeChild(amount.firstChild);
         }

        var dueTextA1 = document.createElement("span");
        dueTextA1.innerHTML = "amount sum :" ;
        var dueAmount = document.createElement("span");
        dueAmount.classList.add("amountSUM");
        dueAmount.innerHTML = json.amountUnit ;
         var dueTextA2 = document.createElement("span");
        dueTextA2.innerHTML = "  unit" ;
        amount.classList.add("amount");
        amount.appendChild(dueTextA1) ;
        amount.appendChild(dueAmount) ;
        amount.appendChild(dueTextA2) ;

        var newLine = document.createElement("br");
        var madeTextA1 = document.createElement("span");
        madeTextA1.innerHTML = "price sum :" ;
        var madeAmount = document.createElement("span");
        madeAmount.classList.add("priceSUM");
        madeAmount.innerHTML = json.amountPrice ;
        var madeTextA2 = document.createElement("span");
        madeTextA2.innerHTML = "  baht" ;

        amount.appendChild(newLine) ;
        amount.appendChild(madeTextA1) ;
        amount.appendChild(madeAmount) ;
        amount.appendChild(madeTextA2) ;

        var para = document.createElement("div");
        para.classList.add("row");
        cln.removeAttribute("onclick");
        para.appendChild(cln );
        document.getElementById("selected").appendChild(para );
     }
</SCRIPT>


<script>
    function updateMemu(me) {

        var cln = me.cloneNode(true);
        var price = cln.getElementsByClassName("price");
        var sumPrice = document.getElementById("sumPrice").innerHTML
        document.getElementById("sumPrice").innerHTML = parseInt(sumPrice) + parseInt(price[0].innerHTML)

        var para = document.createElement("div");
        para.classList.add("row");
        cln.removeAttribute("onclick");
        para.appendChild(cln );
        document.getElementById("selected").appendChild(para );
    }
</script>
<script>
    function confirmOrder() {
        console.log("confirmOrder") ;
        var jsonObj =  {"name":"John" };
        $.ajax({
            url: "/rest/user",
            dataType: 'json',
            type: 'post',
            contentType: 'application/json',
            data: JSON.stringify( jsonObj ),
            processData: false,
            success: function( data, textStatus, jQxhrT ){
                console.log(data) ;
            },
            error: function( jqXhr, textStatus, errorThrown ){
                console.log( errorThrown );
            }
        });

    }
</script>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">DEMO ORDER</a>
</nav>

<main role="main" >
    <div >
        <div class="container-fluid">
            <p>description of menu.</p>
            <div class="row">
                <div class="col-sm-9" style="background-color:lavender;">
                    <div id="choiceDIV" class="container" >
                        <div id="choice">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3" style="background-color:lavenderblush; ">
                    <div id="selectedDIV" class="container" >
                        <div id="selected" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-9" style="background-color:lavender;">
                    <input class="btn btn-primary btn-lg btn-block" onclick="confirmOrder()" type="button" value="Confirm Order">
                </div>
                <div class="col-sm-3" style="background-color:lavender;">
                    <h1> summary : <span id="sumPrice">0</span></h1>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- /.container -->
<SCRIPT>


</SCRIPT>
<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>

<SCRIPT>
    function init() {
        console.log("init") ;
        myTimer() ;
   }
   init() ;
</SCRIPT>
</body>
</html>