<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot Thymeleaf Hello World Example</title>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

    <!-- PUT YOUR STYLE LIBS HERE -->
</head>
<!-- PUT YOUR JS LIBS HERE -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/4.2.1/js/bootstrap.js"></script>
    <script>
    var i = 0 ;
    function myTimer() {
        document.getElementById("demo").innerHTML = "running : "+i;
        i++ ;
        console.log(' each 1 second...');
        $.ajax({url: "/rest/user", success: function(result){
          console.log(result) ;
        }});
        if (i > 10){
            // clearInterval(myVar);
        }
    }

    var myVar = setInterval(myTimer, 5000);


    document.getElementById("demo").innerHTML = "Today is ";
    </script>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">DEMO</a>
</nav>

<main role="main" class="container">
    <p id="demo"></p>
    <div class="starter-template">

        <h1>Spring Boot Web Thymeleaf Example</h1>
        <h2>
            <span th:text="'Hello, ' + ${message}"></span>
        </h2>
    </div>

    <ol>
        <li th:each="task : ${tasks}" th:text="${task}"></li>
    </ol>

</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>